<!DOCTYPE html>
<html>
<head>
  <title>复旦新闻传播研究</title>
  <style type="text/css" media="screen">
	body {background-color:#DCDCDC;margin:0;padding:0;}
	.survey_box {padding-top:200px;}
	.survey_box h1 {font-size:30px;}
	.survey_box .question_name {font-size:34px;}
	.dblu a {display:block;margin:0;background-color: #2C6EAC;text-align:center;}
	a.butlnk {color:#FFFFFF;font-size:24px;font-weight:bold;padding:15px;text-decoration:none;}
	.text {font-size:14px;}
  </style>
</head>
<body>

<div class="survey_box">
	<table width="300" border="0" cellspacing="0" cellpadding="10" align="center" style="margin:auto;">
		<tbody>
				<tr>
					<td valign="top" align="left" width="120" class="dblu">
						<a href="/chat" class="butlnk">聊天室</a>
					</td>
					<td valign="top" align="left" width="120" class="dblu">
						<a href="/iat" class="butlnk">IAT</a>
					</td>
				</tr>
		</tbody>
	</table>
</div>

</body>
</html>
